@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Open+Sans:wght@300&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');


*{
  margin:0;
  padding:0;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}


nav{
  width:100%;
  height:5rem;
  display:flex;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}

.darkMode{
  background:#000;
  color:#fff;
}

.darkMode > nav{
  box-shadow: 0px 2.98256px 7.4564px rgba(255, 255, 255, 0.959);

}

nav .logo{
  width:80px;
}

nav .navTitle{
  margin:0 70% 0 1rem;
}

.toggle{
  display:flex;
  align-items:center;
}

.toggle-slider{
  width:4rem;
  height:2rem;
  background:rgb(0, 0, 53);
  margin:0 1rem;
  border-radius:50px;
  padding:4px;
}

.toggle-circle{
  width:2rem;
  height:2rem;
  background:#fff;
  border-radius:100px;
}

main{
  padding:2rem;
  min-height:78vh;
}

.main-title{
  text-align: center;
}

.facts{
  text-align: center;
  list-style:none;
}