@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Open+Sans:wght@300&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');


*{
  margin:0;
  padding:0;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}


nav{
  height:3rem;
  display:flex;
  padding:1rem 2rem;
  box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}

.hero, .card{
  padding:2rem 2rem 0 2rem;
}

.hero{
  display:flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.hero-img{
  max-width:700px;
  align-items:center;
}

.hero h1{
  margin: 1.5rem 0 0.875rem 0;
  font-weight:1000;
}

.hero p{
  font-size:1.1rem;
  font-weight:600;
}

.cardList{
  max-width:700px;
  display:grid;
  grid-template-columns: auto auto;
  /* flex:0 0 auto; */
  /* flex-direction: column; */
}

.card{
  width: 300px;
  position: relative;
}

.card-image{
  width:100%;
  padding-bottom:0.2rem;
}

.cardStars{
  display:flex;
  align-items:center;
}

.cardStars span{
  font-size:1rem;
  font-weight: bolder;
}

.grey{
  color:rgb(161, 161, 161);
}

.card p{
  font-size:1rem;
  font-weight: normal;
}


.cardContent{
  width:100%;
  display:flex;
}

.sold-badge{
  position: absolute;
  top:2.13rem;
  left:2rem;
  background:rgb(160, 160, 160);
  color:#000;
  padding:5px 10px;
  border-top-left-radius:20px;
  font-weight: bold;
}